<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<link rel="stylesheet" href="general-style.css"/>
        <link rel="stylesheet" href="header-style.css"/>
        <link rel="stylesheet" href="../static/general-style.css"/>
        <link rel="stylesheet" href="../static/header-style.css"/>
        <title>Header</title>
    </head>
    <body>
        <header id="header_fixed" th:fragment="header">
            <div id="menu_decoration">
                <span class="paymybuddy">Pay My Buddy</span>
            </div>
            <div id="menu">
                <a th:href="@{/home}">Home</a>
                <a th:href="@{/transfer}">Transfer</a>
                <a href="#">Profile</a>
                <a href="#">Contact</a>
                <a th:href="@{/logoff}">Log off</a>
            </div>
            <div id="navigation" class="bgcolor_grey"><a th:href="@{/home}">Home / </a><span>Transfer</span></div>
        </header>
    
    </body>
</html>