<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/general-style.css"  th:href="@{general-style.css}"/>
        <link rel="stylesheet" href="../static/header-style.css" th:href="@{header-style.css}"/>
        <title>Header</title>
    </head>
    <body>
        <header id="header_fixed" th:fragment="header">
            <div id="menu_decoration">
                <span class="paymybuddy">Pay My Buddy</span>
            </div>
            <div id="menu">
                <a th:href="@{/home}">Home</a>
                <a th:href="@{/transfer}">Transfer</a>
                <a th:href="@{/profil}">Profile</a>
                <a th:href="@{/contact}">Contact</a>
                <a th:href="@{/logoff}">Log off</a>
            </div>
            <div id="navigation" class="bgcolor_grey">
                <a th:href="@{/home}">Home</a>
                <span th:if="${page != null}" th:text="${page}"></span>
                <span th:text="${#numbers.formatDecimal(user.balance,0,2)} + ' ' + ${user.currency}" style="float:right; padding:15px;"></span>
            </div>
        </header>
    
    </body>
</html>